*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chess{
    padding-bottom: 15px;
    width: 500px;
    background-color: orange;
}
table{
    /*background-color: #FFB300;*/
    border-collapse: collapse;
}
tr{
    width: 50px;
    height: 50px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.odd td{
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
}
.even td{
    background-color: white;

}
.odd td:nth-child(odd){
    background-color: black;

}
.even td:nth-child(even){
    background-color: black;
}
.text{
    background-color: orange !important;
    width: 50px;
    height: 30px;
}