*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}

body {
    background-color: #D5FEFF;
}


.modal-favorite{
    position: fixed;
    display: flex;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
}

.container{
    width: 500px;
    height: 260px;
    background-color: white;
    padding: 5px;

    border: black;
    border-style: solid;
    border-width: 3px;

}

.form-header{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #FF4C00;
    color: white;
    font-weight: 300;
}
.form-body{
    width: 100%;
    margin: 10px;

}
.form-body--info{
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.4;
}
.form-label{
    display: inline-block;
    width: 70px;
    text-align: right;
    padding-bottom: 10px;
    color: blue;
}
.form-input{
    height: 25px;
    width: 200px;
    margin-left:5px;
}
#name-favorite{
    width: 260px;
}
.form-vavorite{
}
.favorite-title{
    width: 70px;
    float: left;
    text-align: right;
    color: blue;
}

.favorite-check{
    float: left;
    width: 66%;
    margin-left: 10px;
    line-height: 1.5;
}
.checkbox-favorite{
    display: inline-block;
    float: left;
    width: 33.33333%;
    color: orange;
}

.form-button{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.btn{
    height: 28px;

}
.btn-login{
    width: 115px;
}
.btn-reset{
    width: 80px;

}